.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin: 0 auto;
}
.navblock {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
    .navtile {
        display: flex;
        flex-direction: column;
        background-color: var(--secondary);
        position: relative;
        top: -1rem;
        width: 6rem;
        height: 4rem;
        border: 0.1rem solid var(--tertiary);
        border-radius: 1rem;
        color: var(--tertiary);
        overflow: hidden;
        text-decoration: none;
        opacity: 0;
        transition: height 0.3s, background-color 0.25s, color 0.25s;
        animation: fade-in-down 0.75s ease-out forwards;
        span {
            font-size: 2rem;
            margin: 1rem;
            z-index: 1;
            transition: font-size 0.25s;
        }
        .expanded {
            display: flex;
            flex-direction: column;
            justify-content: end;
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            opacity: 0;
            transition: opacity 0.3s;
            & p {
                font-size: 0.75rem;
            }
        }
    }
    .navtile:hover {
        height: 5rem;
        & .expanded {
            opacity: 1;
        }
    }
    .navtile:active {
        color: var(--secondary);
        background-color: var(--tertiary);
    }
}
.about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 3rem;
    width: 30rem;
}
.name-cont {
    width: 100%;
    padding: 0;
}
.name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 12.5rem;
    width: 0%;
    opacity: 0;
    border-left: 1px solid var(--tertiary);
    border-right: 1px solid var(--tertiary);
    margin: 0 auto;
    padding: 0 1rem;
    animation: fade-in-expand 2s 1s forwards;
    h2, img {
        opacity: 0;
        animation: fade-in 0.75s 2.5s forwards;
    }
    h2 {
        margin: 0;
        font-size: 1.5rem;
        height: fit-content;
    }
    img {
        width: 7.5rem;
        height: 7.5rem;
        border: 0.2rem solid var(--tertiary);
        border-radius: 50%;
        object-fit: contain;
    }
}
.bio {
    position: relative;
    top: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 7.5rem;
    background-color: var(--secondary);
    border: 0.1rem solid var(--tertiary);
    border-radius: 2rem;
    transition: height 0.5s;
    opacity: 0;
    overflow: hidden;
    animation: fade-in-down 0.75s 3s ease-out forwards;
    h1 {
        font-size: 3rem;
        z-index: 1;
    }
    .expanded {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s;
        hr, p {
            width: 90%;
        }
        p {
            padding: 0 1rem;
            margin-bottom: 2rem;
        }
    }
}
.bio:hover {
    height: 14rem;
    .expanded {
        opacity: 1;
    }
}

@media only screen and (min-width: 992px) {
    .main-content {
        flex-direction: row;
        align-items: flex-start;
    }
    .navblock {
        flex-direction: column;
    }
    .name {
        flex-direction: row;
        justify-content: space-around;
        height: 7.5rem;
    }
}