:root {
    --primary: black;
    --secondary: #1f2020;
    --tertiary: white;
    --quaternary: #484C4C;
    --accent: gold;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}
* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
    background-color: var(--primary);
    color: var(--tertiary);
}

header {
    width: 60vw;
    max-width: 800px;
    margin: 1.5rem auto;
}
main {
    width: 60vw;
    max-width: 800px;
    margin: 0 auto;
}

#input_field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
}
#input_field input[type="number"], #input_field button {
    font-size: 0.9rem;
    border-radius: 0.25rem;
    border: 0.05rem solid var(--quaternary);
    background-color: var(--tertiary);
    margin: 0.1rem;
}
#input_field input[type="number"] {
    width: 50%;
}
#input_field button:hover {
    background-color: gold;
}
#input_field button:active {
    background-color: black;
    color: white;
}

#result_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8rem;
    margin: 1.25rem auto;
    border: 0.05rem solid var(--tertiary);
    background-color: var(--secondary);
    border-radius: 20px;
}
#result_field h2 {
    font-size: 3rem;
    margin: 0.1rem 0;
}
#result_field p {
    font-size: 0.5rem;
    margin: 0.1rem 0;
}
#result_field #result_divisor {
    font-size: 1rem;
}

#animation-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
}
@keyframes click-effect {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}
.click-effect {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 2px solid gold;
    border-radius: 50%;
    opacity: 1;
    margin-left: -50px;
    margin-top: -50px;
    transform-origin: center;
    pointer-events: none;
    animation: click-effect 0.5s ease-out forwards;
}

@media only screen and (min-width: 992px) {
    :root {
        font-size: 40px;
    }
}